{% extends 'base.html' %}
{% load static %}

{% block title %}
SOEMS - 전체 강의 목록
{% endblock %}

{% block style %}
{% endblock %}

{% block menu %}
<ul class="navbar-nav ml-auto my-2 my-lg-0">
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'home' %}#about">About</a></li>
    <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="{% url 'study_list' %}">전체 강의</a></li>
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="">재능 공유하기</a></li>
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'home' %}#contact">Contact</a></li>
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="">Log In</a></li>
</ul>
{% endblock %}

{% block content %}
<header class="masthead-otherpage">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-uppercase text-white font-weight-bold">Ready to start substainable your life with us?
                </h2>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>

<section class="py-5 bg-light">
    <div class="container">
        <h2 class="mb-4">전체 강의</h2>
        {% for study in studies %}
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'study_detail' study.id %}">
                        <img class="card-img-top" src="https://via.placeholder.com/700x400" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'study_detail' study.id %}">{{ study.title }}</a></h5>
                        <p class="card-text">{{ study.content }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}